@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  min-height: 100vh;
  font-family: 'Muli', sans-serif; /* Added font-family */
  background-color: #f8f9fa; /* Light background color */
  color: #495057; /* Dark text color */
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 5px;
  color: #007bff; /* Blue text color */
}

h3 {
  margin: 0;
  color: #343a40; /* Dark header text color */
}

h5 {
  margin: 10px 0;
  color: #28a745; /* Green text color */
}

li {
  margin-bottom: 0;
}

.meal {
  margin: 20px 0;
}

.text-center {
  text-align: center;
}

.button-primary {
  background-color: #dc3545; /* Red button color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button-primary:hover {
  background-color: #c82333; /* Darker red on hover */
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
